.feed{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    margin: 0px 30px;
}

.feed .feed__input{
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
}

.feed .feed__input form{
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 10px; */
   
}

.feed .feed__input form input[type='text']{
    /* flex: 1; */
    /* border-radius: 20px; */
    /* padding: 0px 10px; */
    /* margin-left: 10px; */
    /* height: 40px; */
    /* outline: 0; */
    /* border: 0; */
}